*{
    padding: 0;
    margin: 0;
}
@mixin max-screen($res) {
    @media screen and (max-width: $res) {
    @content;
}
$main_font: "Roboto";
$button_color:#000;
$footer_background:#020202;


}
header{
    .soc_header{
        list-style: none;
        align-items: flex-start;
        li{
            &:first-of-type{
                margin-right: 15px;
                padding-top: 8px;
            }
                &:last-of-type{
                margin-left: 7px;
                padding-top: 0px;
            }
                &:nth-child(2){
                padding-top: 3px;
                }
            }
        }
    }

        /*Fall*/

        .navbar-brand{
        position: absolute;
        left: 50%;
        margin-left: -40px;
        top: 10px;
        }
       
        .nav-item{
            color: #1C1B1B;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 26.4px;
            
        }
        h1{
            color: #000;
            font-family: Roboto;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            
        }
        p{
            color: #000;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
    
        }
        .btn {
        width: 129px;
        height: 36px;
        flex-shrink: 0;
        border-radius: 100px;
        border: 1px solid #000;
        background: #000;
        }
.container {
    max-width: 1064px;
    }
        

.main_banner {
    background-color:#F0EFEB;
    padding: 90px 0;
    h1 {
    margin-bottom: 42px;
    color: #000;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    }

    p {
        margin-bottom: 26px;
        color: #000;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
            }
    
    .bunner_custom_position {
    position: relative;
    right: -30px;
    @include max-screen(992px) {
    right: 0;
    width: 100%;
    display: block;
        }
    }
}
    

.best-sellers{
    padding-top: 76px;
    padding-bottom: 51px;   
    h2{
        padding-bottom: 52px;
        padding-top: 87px;
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    p{
        padding-bottom: 47px;
        color: #000;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    h5{
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 27px;
        padding-bottom: 10px;
    }
    a{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
        }
   
}   



/*people*/

.portfolio{
    padding-top: 76px;
    padding-bottom: 51px;
    @include max-screen(992px){
        font-size: 36px;
        text-align: center;
        }
    h4{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include max-screen(992px){
    font-size: 36px;
    text-align: center;
    }
    }
    p{
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    @include max-screen(992px){
        font-size: 30px;
        text-align: center;
        }
    }
    a{
    color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    justify-content: center;
    }
    img{
    @include max-screen(765px){
        display: block;
        margin: auto;
         }
    
        
    }
    
}

   











/*kolo*/
.features{
    margin-bottom: 52px;
    h3{
    margin-top: 190px;
    padding-bottom: 70px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .row{
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        }
    .kolo{
            padding-top: 110px;
            }
    .col-md-4{
        &:before{
            content: "";
            display: block;
            margin: auto;
            background-color: #21F7EC;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border-bottom: 24px;
        
        }
        &:nth-child(2){
            &::before{
                background-color: #33D3BC;
            }
        }

        &:nth-child(3){
            &::before{
                background-color:  #18A5C6;
            }
        }
        &:nth-child(4){
            &::before{
                
            border-radius: 35px;
            background: #D38F62;
            
            }
        }
        &:nth-child(5){
            &::before{
                border-radius: 35px;
                background: #F94C43;
            }
        }
        &:nth-child(6){
            &::before{
                border-radius: 35px;
                background: #D399FF;
            }
        }
    
    }
}



.faces{
    h3{
        margin-top: 163px;
        margin-bottom: 290px;
        text-align: center;
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .grey_bg{
        min-height: 480px;
        background-color: #F0F0F0;
        @include max-screen(767px){
            height: auto;
        }
        article{
            position: relative;
            top: -188px;
            p{
                padding-top: 35px;
                font-size: 24px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.6px;
            }
            h5{
                padding-top: 34px;
                color: #000;
                text-align: center;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                }
            a{
               padding-top: 44px;
               color: #000;
               text-align: center;
               font-family: Roboto;
               font-size: 18px;
               font-style: normal;
               font-weight: 700;
               line-height: normal;
               text-decoration-line: underline;
            }
        } 
        .btn_discovery{
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline
        }
    }
}

.form{
    padding-bottom: 88px;
    h3{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 79px;

        }
    h4{
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 26px; 
    }
    .form-control{
        margin-bottom: 16px;
        border: 1px solid #000;
    }
    
    
}

footer{
    background-color: #020202;
    min-height: 224px;
    padding-top: 51px;
    li{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.1px;
    list-style: none;
    padding-bottom: 12px;
    }
    p{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    padding-bottom: 16px;
    }
    a{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    }
    .contacts{
        padding-bottom: 35px;
    }
    .soc{
        padding-bottom: 5px;
        padding-top: 25px;
        
    }
}
